/*#FEDBDC
#FDD430
#FB0D1B
*/
@-webkit-font-face {
    font-family: 'Larish Neue';
    src: url('../fonts/larish_neue_semibold.otf');
}
@-moz-font-face {
    font-family: 'Larish Neue';
    src: url('../fonts/larish_neue_semibold.otf');
}
@-ms-font-face {
    font-family: 'Larish Neue';
    src: url('../fonts/larish_neue_semibold.otf');
}
@font-face {
    font-family: 'Larish Neue';
    src: url('../fonts/larish_neue_semibold.otf');
}
@-webkit-font-face {
    font-family: 'Larish Neue';
    src: url('../fonts/larish_neue_italic.otf');
    font-style: italic;
}
@-moz-font-face {
    font-family: 'Larish Neue';
    src: url('../fonts/larish_neue_italic.otf');
    font-style: italic;
}
@-ms-font-face {
    font-family: 'Larish Neue';
    src: url('../fonts/larish_neue_italic.otf');
    font-style: italic;
}
@font-face {
    font-family: 'Larish Neue';
    src: url('../fonts/larish_neue_italic.otf');
    font-style: italic;
}
@-webkit-font-face {
    font-family: 'Larish Alte';
    src: url('../fonts/larish_alte_semibold-webfont.otf');
}
@-moz-font-face {
    font-family: 'Larish Alte';
    src: url('../fonts/larish_alte_semibold-webfont.otf');
}
@-ms-font-face {
    font-family: 'Larish Alte';
    src: url('../fonts/larish_alte_semibold-webfont.otf');
}
@font-face {
    font-family: 'Larish Alte';
    src: url('../fonts/larish_alte_semibold-webfont.otf');
}
@-webkit-keyframes blinkBorder{
    from, to { border-color: transparent }
    50% { border-color: white; }
}
@-moz-keyframes blinkBorder{
    from, to { border-color: transparent }
    50% { border-color: white; }
}
@-ms-keyframes blinkBorder{
    from, to { border-color: transparent }
    50% { border-color: white; }
}
@keyframes blinkBorder{
    from, to { border-color: transparent }
    50% { border-color: white; }
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    color: #FB0D1B;
    font-family: 'Larish Neue', serif;
    background-color: #FEDBDC;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 100vh;
}
[hidden], .hidden {
    display: none !important;
}
.basic-nav {
    margin: 0;
    padding: 0;
}
.basic-nav__item {
    display: inline-block;
    list-style: none;
}
.basic-link,
.basic-link:visited {
    position: relative;
    color: #FB0D1B;
    text-decoration: none;
}
.basic-link:focus,
.insert-text:focus,
.project__client:focus,
.slider-handlers__arrow:focus {
    outline-color: white;
}
.basic-link:hover {
    border-bottom: 1px solid #FB0D1B;
}
.insert-text::before,
.current-page::before,
.project__title-span::before{
    position: absolute;
    height: 2.5rem;
    left: 1rem;
    right: 0;
    bottom: 2rem;
    background-color: #FDD430;
    content: '';
    z-index: -1;
}

/* TOP NAV */
.top-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 7rem 5vw 3rem 5vw;
    font-size: 2.8rem;
    z-index: 1;
}
.top-nav__item {
    position: relative;
    padding-left: 3rem;
}
.top-nav__link::after {
    position: absolute;
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    top: -0.5rem;
    content: '';
}
.home-button {
    margin: 0;
    font-size: 2.8rem;
    font-weight: normal;
}
 .current-page::before {
    height: 80%;
    right: -1rem;
    bottom: 1rem;
 }

/* HOME */
.opening-word {
    margin: 7rem 0 0 0;
    padding: 2rem 13vw;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1.6;
}
.opening-word__word-list {
    display: inline;
}
.insert-text {
    position: relative;
    display: inline-block;
}
.animate-border {
    padding-right: 1rem;
    border-right: 6px solid white;
    animation: blinkBorder 500ms step-end infinite;
}

/* WORK */
.projects {
    height: 100vh;
    width: 100vw;
}
.projects-js {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.projects__title {
    font-size: 0;
}
.project {
    position: relative;
    display: inline-block;
    height: 100vh;
    width: 100vw;
}
.project__images {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 1s ease all;
    transform: scale(1);
    filter: blur(0px);
}
.project__img-left,
.project__img-right {
    position: absolute;
    width: 32vh;
}
.project__img-left {
    top: 7rem;
    left: 16rem;
    transform: rotate(90deg);
}
.project__img-right {
    bottom: 7rem;
    right: 10rem;
}
.project__title {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    width: 62rem;
    font-size: 8em;
    font-weight: normal;
    text-align: center;
    white-space: normal;
    transform: translate(-50%, -50%);
}
.project__link:hover {
    border-bottom: 2px solid #FB0D1B;
}
.project__title-span {
    position: relative;
    display: inline-block;
}
.project__title-span::before {
    height: 7rem;
    bottom: 3rem;
    right: -2rem;
}
.project__title-span:first-of-type {
    margin-bottom: 5rem;
}
.project__title-span:first-of-type::after {
    position: absolute;
    top: -4rem;
    left: -8vw;
    content: '“';
    font-family: 'Larish Alte', serif;
}
.project__title-span:last-of-type::after {
    position: absolute;
    top: -4rem;
    right: -9vw;
    content: '”';
    font-family: 'Larish Alte', serif;
}
.project__client-wrap {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}
.project__client {
    margin-top: 0.5rem;
    color: #FB0D1B;
    font-size: 2.3rem;
    text-decoration: underline;
    display: block;
}
.project__client:visited {
    color: #FB0D1B;
}
.slider-handlers__arrow {
    -webkit-appearance: none;
    appearance: none;
    height: 6rem;
    width: 6rem;
    position: absolute;
    bottom: 5vw;
    background-color: #FB0D1B;
    color: white;
    border: none;
}
.slider-handlers__arrow:hover {
    background-color: #FDD430;
    cursor: pointer;
}
#prev-arrow {
    left: 5vw;
}
#next-arrow {
    right: 5vw;
}

/* CONTACT */
.contact-wrap {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.contact {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 39rem;
    text-align: center;
    transform: translate(-50%, -50%);
}
.contact__title {
    font-size: 0;
}
.contact__name,
.contact__data {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 2.8rem;
    border-bottom: 1px solid rgba(1,1,1,0);
}
.contact__data {
    margin-top: 1.5rem;
}

@media screen and (orientation: portrait){
    .project__img-left, .project__img-right {
        width: 30vw;
    }
}

@media screen and (max-width: 93rem) {
    .home-button {
        font-size: 2.5rem;
    }
    .top-nav {
        margin: 5rem 5vw 3rem 5vw;
        font-size: 2.5rem;
    }
    .opening-word {
        padding: 2rem 12vw;
        font-size: 2.5rem;
    }
    .animate-border {
        padding-right: 0.7rem;
    }
    .insert-text::before,
    .current-page::before {
        height: 1.9rem;
        right: -0.3rem;
        bottom: 50%;
    }
    .project__title {
        width: 55rem;
        font-size: 6em;
    }
    .project__title-span::before {
        height: 5rem;
        bottom: 2rem;
    }
    .project__title-span:first-of-type {
        margin-bottom: 4rem;
    }
    .current-page::before {
        height: 80%;
    }
    .slider-handlers__arrow {
        height: 5rem;
        width: 5rem;
        bottom: 5.7rem;
    }
    .project__img-left {
        left: 12rem;
    }
    .project__img-right {
        right: 8rem;
    }
}

@media screen and (max-width: 93rem) and (orientation: portrait){
    .project__title {
        width: 61rem;
        font-size: 7.2em;
    }
    .project__loc {
        font-size: 1.8rem;
    }
    .project__client {
        margin-top: 1rem;
        font-size: 3rem;
    }
    .project__title-span:first-of-type::after {
        left: -6vw;
    }
    .project__title-span::before {
        height: 5.5rem;
        bottom: 2.5rem;
    }
    .slider-handlers__arrow {
        height: 7rem;
        width: 7rem;
    }
}

@media screen and (max-width: 78rem) {
    .home-button, .top-nav {
        font-size: 2.3rem;
    }
    .opening-word {
        padding: 2rem 11vw;
        font-size: 2.3rem;
    }
    .slider-handlers__arrow {
        height: 4.3rem;
        width: 4.3rem;
        bottom: 5.5rem;
    }
    .project__title {
        width: 60rem;
        font-size: 6em;
    }
    .project__title-span::before {
        height: 4.3rem;
        bottom: 1.7rem;
        right: -1rem;
    }
    .project__title-span:first-of-type {
        margin-bottom: 3rem;
    }
    .project__title-span:first-of-type::after {
        left: -6vw;
    }
    .project__title-span:last-of-type::after {
        right: -8vw;
    }
    .project__client-wrap {
        bottom: 4rem;
    }
    .project__client {
        font-size: 2rem;
    }
    .project__img-left {
        left: 9rem;
    }
    .project__img-right {
        right: 6rem;
    }
    #next-arrow {
        right: 4vw;
    }
    #prev-arrow {
        left: 4vw;
    }
}

@media screen and (max-width: 78rem) and (orientation: portrait) {
    .top-nav, .opening-word,
    .home-button  {
        font-size: 2.8rem;
    }
    .project__title {
        width: 55rem;
        font-size: 6.2em;
    }
    .project__title-span:first-of-type::after {
        left: -5vw;
    }
    .project__title-span::before {
        height: 5rem;
        bottom: 2rem;
    }
    .project__loc {
        font-size: 1.8rem;
    }
    .project__client {
        margin-top: 1rem;
        font-size: 3rem;
    }
    .slider-handlers__arrow {
        height: 6rem;
        width: 6rem;
    }
    .project__client-wrap {
        bottom: 2rem;
    }
}

@media screen and (max-width: 70rem) {
    .top-nav,
    .opening-word,
    .home-button  {
        font-size: 2.1rem;
    }
    .insert-text::before,
    .current-page::before {
        height: 1.5rem;
        bottom: 48%;
    }
    .current-page::before,
    .project__title-span::before {
       height: 82%;
   }
   .project__client-wrap {
       bottom: 3rem;
   }
   .slider-handlers__arrow {
       bottom: 4.5rem;
   }
}

@media screen and (max-width: 70rem) and (orientation: portrait) {
    .top-nav,
    .opening-word,
    .home-button  {
        font-size: 2.8rem;
    }
    .project__title {
        width: 50rem;
        font-size: 5.8em;
    }
    .project__loc {
        font-size: 1.6rem;
    }
    .project__client {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 64rem) {
    .top-nav,
    .opening-word,
    .home-button  {
        font-size: 1.9rem;
    }
    .project-title {
        width: 41rem;
        font-size: 4.3em;
    }
    .slider-handlers__arrow {
        height: 3.8rem;
        width: 3.8rem;
        bottom: 4.3rem;
    }
    .project__loc {
        font-size: 1.1rem;
    }
    .project__client {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 64rem) and (orientation: portrait) {
    .top-nav,
    .opening-word,
    .home-button  {
        font-size: 2.6rem;
    }
    .project__title {
        width: 45rem;
        font-size: 5.1em;
    }
    .slider-handlers__arrow {
        height: 5rem;
        width: 5rem;
    }
    .project__loc {
        font-size: 1.5rem;
    }
    .project__client {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 59rem) {
    .top-nav,
    .opening-word,
    .home-button  {
        font-size: 1.7rem;
    }
    .insert-text::before,
    .current-page::before,
    .project__title-span::before {
        height: 1.3rem;
    }
    .current-page::before {
       height: 88%;
   }
   .project__title {
       width: 44rem;
       font-size: 5em;
    }
   .project__title-span::before {
       height: 70%;
       bottom: 1.4rem;
   }
   .project__title-span:first-of-type::after,
   .project__title-span:last-of-type::after {
       top: -2rem;
   }
   .project__img-left,
   .project__img-right {
       width: 30vh;
   }
   .project__img-left {
       left: 8rem;
   }
   .project__img-right {
       right: 4rem;
   }

}

@media screen and (max-width: 59rem) and (orientation: portrait) {
    .top-nav,
    .opening-word,
    .home-button  {
        font-size: 2.4rem;
    }
    .project__img-left, .project__img-right {
        width: 28vw;
    }
    .project__title {
        width: 42rem;
        font-size: 4.8em;
    }
    .slider-handlers__arrow {
        height: 4.3rem;
        width: 4.3rem;
    }
    .project__loc {
        font-size: 1.3rem;
    }
    .project__client {
        font-size: 2rem;
    }
}

@media screen and (max-width: 53rem) {
    .home-button {
        font-size: 1.5rem;
    }
    .top-nav {
        font-size: 1.5rem;
        margin: 3rem 5vw 2rem 5vw;
    }
    .opening-word {
        margin: 4rem 0 0 0;
        padding: 2rem 9vw;
        font-size: 1.5rem;
    }
    .animate-border {
        border-right: 4px solid white;
    }
    .insert-text::before,
    .current-page::before {
        height: 1.2rem;
        bottom: 45%;
    }
    .project__title {
        width: 35rem;
        font-size: 4.2em;
    }
    .project__title-span::before {
        height: 62%;
    }
    .project__title-span:first-of-type {
        margin-bottom: 1.2rem;
    }
    .project__title-span:first-of-type::after {
        left: -5vw;
    }
    .current-page::before {
        height: 90%;
        right: -0.6rem;
        bottom: 50%;
    }
    .slider-handlers__arrow {
        height: 3.2rem;
        width: 3.2rem;
    }
}

@media screen and (max-width: 53rem) and (orientation: portrait) {
    .home-button {
        font-size: 1.9rem;
    }
    .top-nav {
        margin: 5rem 9vw 3rem 9vw;
        font-size: 1.9rem;
    }
    .top-nav__item {
        padding-left: 1.9rem;
    }
    .opening-word {
        margin: 5rem 9vw 3rem 9vw;
        padding: 0;
        font-size: 1.9rem;
    }
    .insert-text::before,
    .current-page::before,
    .project__title-span::before {
        left: 0.8rem;
    }
    .slider-handlers__arrow {
        height: 3.7rem;
        width: 3.7rem;
    }
    .project__loc {
        font-size: 1.1rem;
    }
    .project__client {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 44rem) {
    .top-nav {
        font-size: 1.4rem;
        margin: 2rem 5vw 3rem 5vw;
    }
    .home-button {
        font-size: 1.4rem;
    }
    .top-nav__item {
        padding-left: 1rem;
    }
    .animate-border {
        padding-right: 0.4rem;
    }
    .opening-word {
        margin: 5rem 0 0 0;
        padding: 2rem 8vw;
        font-size: 1.7rem;
    }
    .current-page::before {
        right: -0.5rem;
        bottom: 0.7rem;
    }
    .project__title {
        width: 29rem;
        font-size: 3.3em;
    }
    .project__title-span::before {
        height: 78%;
        bottom: 1.1rem;
    }
    .project__title-span:first-of-type::after, .project__title-span:last-of-type::after {
        top: -1.5rem;
    }
    .project__img-left {
        left: 6rem;
    }
    .project__img-right {
        right: 3rem;
    }
    .slider-handlers__arrow {
        height: 2.9rem;
        width: 2.9rem;
    }
    .slider-handlers__arrow {
        bottom: 3.5rem;
    }
    .slider-handlers__arrow::after {
        position: absolute;
        left: -1rem;
        top: -1rem;
        bottom: -1rem;
        right: -1rem;
        content: '';
    }
    .project__loc {
        font-size: 0.9rem;
    }
    .project__client {
        font-size: 1.4rem;
    }
    .project__client-wrap {
        bottom: 2.5rem;
    }
    .project__img-right {
        bottom: 5rem;
    }
}

@media screen and (max-width: 44rem) and (orientation: portrait){
    .top-nav,
    .home-button {
        font-size: 1.7rem;
    }
    .opening-word {
        font-size: 1.7rem;
    }
    .project__img-left, .project__img-right {
        width: 32vw;
    }
    .project__title {
        width: 29rem;
        font-size: 3.6em;
    }
    .project__loc {
        font-size: 1rem;
    }
    .project__client {
        margin-top: 0.4rem;
        font-size: 1.6rem;
    }
    .project__img-left {
        left: 7rem;
        top: 3rem;
    }
    .project__client-wrap {
        bottom: 6rem;
    }
}
@media screen and (max-width: 37rem) {
    .project__title {
        width: 26rem;
        font-size: 2.7em;
    }
    .slider-handlers__arrow {
        height: 2.2rem;
        width: 2.2rem;
    }
    .project__client {
        font-size: 1.2rem;
    }
    .project__img-left {
        left: 4rem;
    }
    .project__img-right {
        right: 2rem;
    }
}

@media screen and (max-width: 37rem) and (orientation: portrait){
    .top-nav,
    .home-button {
        font-size: 1.4rem;
    }
    .opening-word {
        font-size: 1.4rem;
    }
    .slider-handlers__arrow {
        height: 3rem;
        width: 3rem;
    }
    .project__title {
        width: 26rem;
        font-size: 3em;
    }
    .project__client {
        font-size: 1.6rem;
    }
    .project__img-left {
        left: 5rem;
    }
}
@media screen and (max-width: 33rem) {
    .project,
    .projects,
    .project__images {
        height: 90vh;
    }
    .project__img-left {
        top: 5rem;
    }
    .project__img-right {
        bottom: 3rem;
    }
    .project__client-wrap {
        bottom: 1.3rem;
    }
    .slider-handlers__arrow {
        bottom: 4.5rem;
    }
}

@media screen and (max-width: 33rem) and (orientation: portrait){
    .project__title {
        width: 23rem;
        font-size: 2.8em;
    }
    .slider-handlers__arrow {
        height: 2.5rem;
        width: 2.5rem;
        bottom: 3rem;
    }
    .project__title-span:first-of-type {
        margin-bottom: 1.5rem;
    }
    .project__title-span::before {
        bottom: 1rem;
    }
    .project__client-wrap {
        bottom: 2rem;
    }
}

@media screen and (max-width: 27rem){
    .home {
        justify-content: flex-start;
    }
    .top-nav {
        margin: 2rem 1.4rem 2rem 1.4rem;
        font-size: 1.3rem;
    }
    .home-button {
        font-size: 1.3rem;
    }
    .opening-word {
        margin: 7rem 0 1rem 0;
        padding: 0 1.4rem;
        font-size: 1.3rem;
        line-height: 1.7;
    }
    .animate-border {
        border-right: 3px solid white;
    }
    .insert-text::before,
    .current-page::before,
    .project__title-span::before {
        height: 61%;
        bottom: 41%;
        right: -0.2rem;
    }
    .current-page::before {
        height: 93%;
        right: -0.5rem;
        bottom: 0.6rem;
    }
}

@media screen and (max-width: 28rem) and (orientation: portrait){
    .project__title {
        width: 20rem;
        font-size: 2.3em;
    }
    .slider-handlers__arrow {
        height: 2.2rem;
        width: 2.2rem;
        bottom: 3rem;
    }
    .project__loc {
        font-size: 0.9rem;
    }
    .project__client {
        font-size: 1.2rem;
    }
    .project__title-span::before {
        height: 83%;
        bottom: 0.8rem;
    }
}

@media screen and (max-width: 24rem){
    .opening-word {
        font-size: 1.2rem;
    }
    .top-nav {
        font-size: 1.2rem;
    }
    .home-button {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 24rem) and (orientation: portrait){
    .project__title {
        width: 19rem;
        font-size: 2.1em;
    }
    .slider-handlers__arrow {
        height: 2rem;
        width: 2rem;
        bottom: 3rem;
    }
    .project__img-left {
        left: 4rem;
    }
    .project__title-span:first-of-type {
        margin-bottom: 1.3rem;
    }
}
@media screen and (max-width: 21rem){
    .opening-word {
        margin: 5rem 0 0 0;
    }
    .project__title {
        width: 17rem;
        font-size: 2em;
    }
    .project__loc {
        font-size: 0.8rem;
    }
    .slider-handlers__arrow {
        height: 1.8rem;
        width: 1.8rem;
        bottom: 4.2rem;
    }
    .project__img-left, .project__img-right {
        width: 28vw;
    }
}
@media screen and (max-width: 21rem) and (orientation: portrait){
    .slider-handlers__arrow {
        bottom: 3rem;
    }
}
