/*#FEDBDC
#FDD430
#FB0D1B
font-family: 'Didot', serif
font-family: 'Prestige Elite Std', serif*/
@font-face {
    font-family: 'Larish Neue';
    src: url('../fonts/larish_neue_semibold.otf');
}
@font-face {
    font-family: 'Larish Neue';
    src: url('../fonts/larish_neue_italic.otf');
    font-style: italic;
}
@font-face {
    font-family: 'Larish Alte';
    src: url('../fonts/larish_alte_semibold-webfont.otf');
}
@keyframes blinkBorder{
    from, to { border-color: transparent }
    50% { border-color: white; }
}
body {
    margin: 0;
    padding: 0;
    color: #FB0D1B;
    font-family: 'Larish Neue', serif;
    background-color: #FEDBDC;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 100vh;
}
[hidden], .hidden {
    display: none !important;
}
.basic-nav {
    margin: 0;
    padding: 0;
}
.basic-nav__item {
    display: inline-block;
    list-style: none;
}
.basic-link, .basic-link:visited {
    position: relative;
    color: #FB0D1B;
    text-decoration: none;
}
.basic-link:hover {
    border-bottom: 1px solid #FB0D1B;
}
.insert-text::before,
.current-page::before,
.project__title-span::before{
    position: absolute;
    height: 2.5rem;
    left: 1rem;
    right: 0;
    bottom: 2rem;
    background-color: #FDD430;
    content: '';
    z-index: -1;
}

/* TOP NAV */
.top-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 7rem 5vw 3rem 5vw;
    font-size: 2.8rem;
    z-index: 1;
}
.top-nav__item {
    padding-left: 3rem;
}
.home-button {
    margin: 0;
    font-size: 2.8rem;
}
 .current-page::before {
     right: -1rem;
     bottom: 1.5rem;
 }

/* HOME */
.opening-word {
    margin: 7rem 0 0 0;
    padding: 2rem 13vw;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1.6;
}
.opening-word__word-list {
    display: inline;
}
.insert-text {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.animate-border {
    padding-right: 1rem;
    border-right: 6px solid white;
    animation: blinkBorder 500ms step-end infinite;
}

/* WORK */
.projects {
    /* display: flex;
    flex-direction: row; */
    height: 100vh;
    width: 100vw;
}
.projects-js {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.projects__title {
    font-size: 0;
}
.project {
    position: relative;
    display: inline-block;
    height: 100vh;
    width: 100vw;
}
.project__images {
    position: relative;
    width: 100%;
    height: 100%;
}
.project__img-left,
.project__img-right {
    position: absolute;
    width: 32vh;
}
.project__img-left {
    top: 7rem;
    left: 16rem;
    transform: rotate(90deg);
}
.project__img-right {
    bottom: 7rem;
    right: 10rem;
}
.project__title {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    width: 62rem;
    font-size: 8em;
    font-weight: normal;
    text-align: center;
    white-space: normal;
    transform: translate(-50%, -50%);
}
.project__link:hover {
    border-bottom: 2px solid #FB0D1B;
}
.project__title-span {
    position: relative;
    display: inline-block;
}
.project__title-span::before {
    height: 7rem;
    bottom: 3rem;
    right: -2rem;
}
.project__title-span:first-of-type {
    margin-bottom: 5rem;
}
.project__title-span:first-of-type::after {
    position: absolute;
    top: -4rem;
    left: -7rem;
    content: '“';
    font-family: 'Larish Alte', serif;
}
.project__title-span:last-of-type::after {
    position: absolute;
    top: -4rem;
    right: -8rem;
    content: '”';
    font-family: 'Larish Alte', serif;
}
.project__client-wrap {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}
.project__client {
    margin-top: 0.5rem;
    font-size: 2.3rem;
    display: block;
}
.slider-handlers__arrow {
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 50%;
    background-color: #FB0D1B;
    color: white;
    transform: translateY(-50%);
}
.slider-handlers__arrow:hover {
    background-color: #FDD430;
    cursor: pointer;
}
#prev-arrow {
    left: 5vw;
}
#next-arrow {
    right: 5vw;
}
